

<div class="container" style="text-align: right">
    <div class="row my-5 fs-5 form-group">
        <div class="col-lg-3 ">
            <button (click)="ShowInvoiceDetails()" class="form-control form-control-lg " >search </button>
        </div>
        <div class="col-lg-3"></div>
        <div class="col-lg-3 ">
            <input   class="form-control form-control-lg " id="id" [pattern]="IdPattern"  type="text" [(ngModel)]="id" placeholder="Enter Invoice Id" >
            <div *ngIf="showError" role="alert" class="alert alert-danger fs-5 my-2" style="text-align: left">
                {{errorMessage}}
            </div>
            <!-- <div class="alert alert-danger fs-5" role="alert" *ngIf="id.errors && MyForm.submitted" >
                <div *ngIf="id.errors['required']">email is required</div>
                <div *ngIf="id.errors['pattern']">email is invalid !</div>
            </div> -->
        </div>
        <div class="col-lg-3">
            <label for="id"> رقم الحركه </label>
        </div>
    </div>
    
    <div *ngIf="showResult">
     <hr>
        <div class="row my-2 fs-5 "  >
            <div class="col-lg-3">
                <button class="form-control form-control-lg btn btn-outline-danger" (click)="clearData()" >Clear </button>
            </div>

            <div class="col-lg-3"></div>
            <div class="col-lg-3 ">
                <label class="form-control form-control-lg "> {{invoice.invoiceId }} </label>
                <!-- <input class="form-control form-control-lg " type="text" disabled="true" [(ngModel)]="invoice.invoiceId" > -->
            </div>
            <div class="col-lg-3">
                <label for="id">رقم الحركه </label>
            </div>
        </div>
        <div class="row my-2 fs-5 "  >
            <div class="col-lg-6"></div>
            <div class="col-lg-3 ">
                <label class="form-control form-control-lg "> {{invoice.clientName }} </label>
                <!-- <input class="form-control form-control-lg " type="text"  [(ngModel)]="invoice.clientName" > -->
            </div>
            <div class="col-lg-3">
                <label > اسم العميل </label>
            </div>
        </div>
        <div class="row my-2 fs-5 "  >
            <div class="col-lg-6"></div>
            <div class="col-lg-3 ">
               <div  *ngIf="!hideDate">
                   {{invoice.date|date:'short'}}
                </div>
            </div>
            <div class="col-lg-3">
                <label > التاريخ </label>
            </div>
        </div>
        <hr>

        <div class="row my-3 fs-5 "  >
           <table class="table table-striped table-inverse table-responsive">
            <thead class="thead-inverse">
                <tr>
                    <th>الاجمالي </th>
                    <th>الكميه </th>
                    <th>سعر القطعه </th>
                    <th>الصنف</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of invoiceDetails">
                        <td scope="row">{{i.total }}</td>
                        <td scope="row">{{i.quantity}}</td>
                        <td scope="row">{{i.price}}</td>
                        <td scope="row">{{i.itemName}}</td>
                    </tr>
                </tbody>
           </table>
        </div>
        <hr>
        <div class="row myt-5 fs-5 "  >
            <div class="col-lg-8"></div>
            <div class="col-lg-3">
                
                {{invoice.totalPrice |currency: "EGP":"symbol"}}
                <label > :اجمالي الفاتوره</label>
                <!-- <input class="form-control form-control-lg " type="text"  [(ngModel)]="invoice.totalPrice" > -->
            </div>
           
        </div>
        <div class="row my-2 fs-5 "  >
            <div class="col-lg-8"></div>
            <div class="col-lg-3">
                {{invoice.itemsCount}}
                <label >:   عدد الاصناف </label>
                <!-- <input class="form-control form-control-lg " type="text"  [(ngModel)]="invoice.itemsCount" > -->
            </div>
        </div>
    </div>
</div>

    <!--
<div class="container my-5" >
    <div class="shadow-4 rounded-5 overflow-hidden">
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light" >
          <tr>
            <th>Invoice id</th>
            <th>Client name </th>
            <th>Date</th>
          
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of invoiceDetails" >
                 <td>
              <p class="text-muted mb-0">{{i.didNavigation?.fname}} {{i.didNavigation?.lname}}</p>
            </td>
            
            <td>
              <p class="text-muted mb-0">{{i.file_description}}</p>
            </td>
            <td>
              <p class="text-muted mb-0">{{i.attached_files}}</p> 
            </td>
            <td>
             
              <p class="text-muted mb-0">{{i.date|date:'shortDate'}}</p>  
            </td>
            <td>
              <p class="text-muted mb-0">{{i.summary}}</p>  
            </td> 
        </tr>
    </tbody>
  
</table>
</div>

</div>

-->
  
  