

<div class="container" style="text-align: right">
    <div class="row my-5 fs-5 form-group">
        <div class="col-lg-3 col-sm-3 ">
            <button (click)="ShowInvoiceDetails()" class="form-control form-control-lg " >search </button>
        </div>
        <div class="col-lg-3 col-sm-1 "></div>
        <div class="col-lg-3 col-sm-5 ">
            <input   class="form-control form-control-lg " id="id" [pattern]="IdPattern"  type="text" [(ngModel)]="id" placeholder="Enter Invoice Id" >
            <div *ngIf="showError" role="alert" class="alert alert-danger fs-5 my-2" style="text-align: left">
                {{errorMessage}}
            </div>
         
        </div>
        <div class="col-lg-3 col-sm-3 ">
            <label for="id"> رقم الحركه </label>
        </div>
    </div>
    
    <div *ngIf="showResult">
     <hr>
        <div class="row my-2 fs-5  "  >
            <div class="col-lg-3 col-sm-3 ">
                <button class="form-control form-control-lg btn btn-outline-danger" (click)="clearData()" >Clear </button>
            </div>

            <div class="col-lg-3 col-sm-1 "></div>
            <div class="col-lg-3 col-sm-5  ">
                <label class="form-control form-control-lg "> {{invoice.invoiceId }} </label>
                <!-- <input class="form-control form-control-lg " type="text" disabled="true" [(ngModel)]="invoice.invoiceId" > -->
            </div>
            <div class="col-lg-3 col-sm-3 ">
                <label for="id">رقم الحركه </label>
            </div>
        </div>
        <div class="row my-2 fs-5 "  >
            <div class="col-lg-3 col-sm-3  ">
                <p-confirmDialog header="Confirmation to delete invoice" icon="pi pi-exclamation-triangle" [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>
                <p-button  styleClass="p-button-danger" (click)="confirm()"  icon="pi pi-times" label="Delete"></p-button>
                <!-- <button class="form-control form-control-lg btn btn-outline-danger" (click)="Delete()" >Clear </button> -->
            </div>
            <div class="col-lg-3 col-sm-1 "></div>
            <div class="col-lg-3 col-sm-5 ">
                <label class="form-control form-control-lg "> {{invoice.clientName }} </label>
                <!-- <input class="form-control form-control-lg " type="text"  [(ngModel)]="invoice.clientName" > -->
            </div>
            <div class="col-lg-3 col-sm-3 ">
                <label > اسم العميل </label>
            </div>
        </div>
        <div class="row my-2 fs-5 "  >
            <div class="col-lg-6 col-sm-4 "></div>
            <div class="col-lg-3 col-sm-5 ">
               <div  *ngIf="!hideDate">
                   {{invoice.date|date:'short'}}
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <label > التاريخ </label>
            </div>
        </div>
        <hr>

        <div class="row my-3 fs-5 "  >
           <table class="table table-striped table-inverse table-responsive">
            <thead class="thead-inverse">
                <tr>
                    <th>الاجمالي </th>
                    <th>الكميه </th>
                    <th>سعر القطعه </th>
                    <th>الصنف</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of invoiceDetails">
                        <td scope="row">{{i.total }}</td>
                        <td scope="row">{{i.quantity}}</td>
                        <td scope="row">{{i.price}}</td>
                        <td scope="row">{{i.itemName}}</td>
                    </tr>
                </tbody>
           </table>
        </div>
        <hr>
        <div class="row myt-5 fs-5 "  >
            <div class="col-lg-8"></div>
            <div class="col-lg-3">
                
                {{invoice.totalPrice |currency: "EGP":"symbol"}}
                <label > :اجمالي الفاتوره</label>
                <!-- <input class="form-control form-control-lg " type="text"  [(ngModel)]="invoice.totalPrice" > -->
            </div>
           
        </div>
        <div class="row my-2 fs-5 "  >
            <div class="col-lg-8"></div>
            <div class="col-lg-3">
                {{invoice.itemsCount}}
                <label >:   عدد الاصناف </label>
                <!-- <input class="form-control form-control-lg " type="text"  [(ngModel)]="invoice.itemsCount" > -->
            </div>
        </div>
    </div>
</div>

   